<!DOCTYPE html>
<html>
<head>
  <title>Centre de Droits de l'homme de l'université Kongo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="/">CDH-UK</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Accueil</a></li>
            <li><a href="/blog">Réflexions</a></li>
            <li><a href="/projets">Projets</a></li>
            <li><a href="/news"><li>Évènements et Opportunités</a></li>
            <li><a href="/contact">Contact</a></li>

          </ul>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag ("rectorat.jpg"), :width => 1200, :height => 300 %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Institution de recherche dans le bas-Congo</h1>
          <p>Créé en décembre 2010 sur décision rectorale no. UK/KK/018/2010, le Centre des droits de l’homme de l’Université Kongo (UK), CDHUK en sigles, est une institution de recherche qui entend participer activement à l’étude, a la vulgarisation et à la promotion des droits de l’homme en République Démocratique du Congo en général et dans la province du Bas-Congo en particulier.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Lire davantage</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag ("etudiants_et_bus.jpg"), :width => 1200, :height => 300 %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Avec le soutien de la province du Bas-Congo</h1>
          <p>La vision du CDHUK est de rapprocher la communauté universitaire de l’UK des populations défavorisées.  Sa mission est d’articuler la recherche, la documentation, la formation en droits de l’homme, ainsi que leur vulgarisation.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Lire davantage</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag ("lumbika_et_partenaire.jpg"), :width => 1200,:height => 300 %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Partenariat avec des équipes de recherche internationales</h1>
          <p>En cours depuis 2007 à l’Université d’Anvers, ce projet de ‘localisation des droits de l’homme’ est mené en partenariat avec des équipes de recherche internationales, notamment en Inde, Chine et RDC.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Lire davantage</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag ("group_photo_with_students.jpg"), :width =>1200, :height => 300 %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Caravane des droits de l’homme</h1>
          <p>Il a été observé que les populations locales qui entourent l’Université Kongo  engagent beaucoup de temps et d’argent à répondre aux tracasseries des dépositaires du pouvoir (administration territoriale, police, justice, fisc, etc.). D’où  l’intérêt de les informer et de les former sur les droits.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Lire davantage</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->

<%= yield %>


<!-- FOOTER -->
<footer>
  <p class="pull-right"><a href="#">Retour en haut</a></p>
  <p>&copy; 2014 Centre des Droits de l'homme de l'Université Kongo. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../docs-assets/js/holder.js"></script>
</div>
</body>
</html>
